.createUser {
  width: 569px;
}

.headerForm {
  margin-bottom: 27px;
}

.header {}

.form {}

.imagesArea {
  width: 146px;
  height: 99px;
  border: 1px dashed #C1C1C1;
  border-radius: 12px;
}

.input {
  width: 100%;
  margin-bottom: 20px;
}

.inputError {
  border: 1px solid #EC1A3C;
  margin-bottom: 6px;
  width: 100%;
}


.passInput {
  position: relative;
  width: 100%;
  height: 55px;
  margin-bottom: 10px;
}

.eyeIcon {
  position: absolute;
  right: 17px;
  top: 17px;
  cursor: pointer;
}

.eyeIcon:hover {
  opacity: 0.3;
}

.subtitle {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #6B7280;
  margin-bottom: 10px;
}

.submitBtn {
  width: 100%;
}

@media screen and (max-width: 1439px) {

}


@media screen and (max-width: 767px) {
  .createUser {
    width: 100%;
  }
}

