.requestForRegistration {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  padding-top: 63px;
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}

.filtersIconBlock {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
}

.filtersIcon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.addSiteBtn {
  width: 242px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 1439px) {
  .header {
    align-items: center;
  }
  .content {
    padding-top: 44px;
    margin-bottom: 10px;
  }
  .addSiteBtn {
    width: 195px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
  .title {
    font-size: 24px;
    line-height: 30px;
  }
}


@media screen and (max-width: 767px) {
  .content {
    padding-top: 0;
  }
  .header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
  }
  .addSiteBtn {
    width: 100%;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
}

