.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.myModalContent {
    padding: 25px;
    background: white;
    border-radius: 15px;
    min-width: 522px;
    max-height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1439px) {
    .myModalContent {
        min-width: 522px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 767px) {
    .myModalContent {
        min-width: 100%;
        border-radius: 12px;
    }
}
