.dataForLogin {
  width: 100%;
  border: 1px solid #E5E7EB;
  border-radius: 20px;
}

.editMode {

}

.staticInformation {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F8F8;
  padding: 18px 28px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.title {
  font-family: 'Jeko-Bold', sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.editIcon {
  object-fit: contain;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  gap: 23px;
}

.roleBlock,
.loginBlock,
.passwordBlock {
  width: 100%;
  display: flex;
  align-items: center;
}

.companyBlock {
  width: 100%;
  min-height: 55px;
  font-family: 'Jeko-Bold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #8B8B8B;
  background: #F8F8F8;
  border: 1px solid #FDFDFD;
  border-radius: 12px;
  padding: 17px;
  display: flex;
  align-items: center;
  position: relative;
}

.leftBlock {
  width: 40%;
}

.rightBlock {
  width: 50%;
  font-family: 'Jeko-Bold', sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.input {
  width: 100%;
  height: 40px;
  font-family: 'Jeko-Bold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.inputError {
  border: 1px solid #EC1A3C;
  width: 100%;
  height: 40px;
}


.passInput {
  position: relative;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
}

.eyeIcon {
  position: absolute;
  right: 17px;
  top: 17px;
  cursor: pointer;
}

.eyeIcon:hover {
  opacity: 0.3;
}

.dotIcon {
  width: 7px;
  height: 7px;
  object-fit: contain;
}
.btnsBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.saveBtn {
  width: 117px;
  height: 40px;
  background: #000000;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
  border-radius: 100px;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.saveBtn:hover {
  background: #2D2D2D;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
}

.saveBtn:active {
  background: #202020;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
}

.saveBtn:disabled {
  background: #C1C1C1;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
  cursor: auto;
}

.cancelBtn {
  width: 111px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
  border-radius: 100px;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.cancelBtn:hover {
  background: #F9F9F9;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
}

.cancelBtn:active {
  background: #F1F1F1;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
}

.cancelBtn:disabled {
  background: #C1C1C1;
  box-shadow: 0 2px 4px rgba(31, 41, 55, 0.06);
  cursor: auto;
}

.errorValidation {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 130%;
  color: #EC1A3C;
}

.loginDetailsBlock {
  width: 100%;
  margin-bottom: 50px;
}

.loginDetailsHeader {
  padding: 23px 28px 12px 28px;
  background: #F8F8F8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginDetailsTitle {
  font-family: 'Jeko-Bold', sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}

.editIconBlock {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 50%;
}

.editIconBlock:hover {
  background: #EBEBEC;
}

.loginDetailsContainer {
  display: flex;
  width: 100%;
  gap: 23px;
  flex-direction: column;
  padding: 30px;
}

.informationItem {
  width: 100%;
  display: flex;
}

.title {
  width: 40%;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6B7280;
}

.value {
  width: 50%;
  font-family: 'Jeko-Bold', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  gap: 3px;
  display: flex;
  align-items: center;
}

.dotIcon {
  width: 7px;
  height: 7px;
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .loginDetailsHeader {
    padding: 18px 10px;
  }
  .loginDetailsContainer {
    padding: 20px 10px;
  }
  .loginDetailsBlock {
    margin-bottom: 30px;
  }
  .informationItem {
    justify-content: space-between;
  }
  .btnsBlock {
    width: 100%;
    justify-content: center;
    gap: 17px;
    align-items: center;
  }
  .saveBtn,
  .cancelBtn {
    width: 149px;
    height: 40px;
  }
  .container {
    padding: 20px 10px;
  }
  .roleBlock,
  .loginBlock,
  .passwordBlock {
    flex-direction: column;
    align-items: flex-start;
  }
  .leftBlock {
    width: 100%;
    margin-bottom: 10px;
  }
  .rightBlock {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .informationItem {
    flex-direction: column;
    width: 100%;
    gap: 8px;
    align-items: flex-start;
  }
}





