.registerConfirmation {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat;
  position: relative;
}

.formContentBlock {
  position: absolute;
  top: 0;
  height: 100%;
}

.leftBlock {
  width: 475px;
}

.whiteTitle {
  font-family: 'Jeko-Bold', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 130%;
  color:#FFFFFF;
  margin-bottom: 24px;
  white-space: pre-wrap;
}

@media screen and (max-width: 1024px) {

  .leftBlock {
    width: 468px;
  }

}

@media screen and (max-width: 768px) {
  .whiteTitle {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .whiteTitle {
    width: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (max-width: 390px) {
  .whiteTitle {
    width: 100%;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (max-width: 375px) {
  .whiteTitle {
    width: 100%;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }
}
